.button{
    color: #FFFFFF;
    background-color: #F4CE39;
    border: none;
    border-radius: 10px;
    padding: 1%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 6px 2%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}