/* ensure all the styles have a border box */
*, 
*::before, 
*::after{
    box-sizing: border-box;
}

/* style for the carousel box area */
.carousel{
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

/* style for each image in the carousel */
.carousel_image{
    object-fit:cover;
    width: 100%;
    height: auto;
    aspect-ratio: 6/2.8;
    display: block;
    transition: 0.2s ease-in-out;
}

/* style for arrow buttons in the carousel */
.carousel_button{
    all: unset;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 1 rem;
    cursor: pointer;
}

/* on hover, the button background area of the button should turn black */
.carousel_button:hover{
    background-color: black;
    opacity: 0.2;
}

.carousel_button > * {
    stroke: white;
    width: 5rem;
    height: auto;
}

/* position arrows at respective posotions*/
.right{
    right: 0;
}

.left{
    left: 0;
}

.plan_trip{
    color: #FFFFFF;
    background-color: #F4CE39;
    border: none;
    border-radius: 10px;
    padding: 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 6px 2%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* style for text on the carousel */
.carouselText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.welcomeText{
    color: #FFFFFF;
    font-size: 500%;
}

.travelText{
    color: #2F342F;
    font-size: 200%;
    background: rgba(255, 255, 255, .15)
}